#description
{
	margin: auto;
	//background-color: red;
	width: 70%;
	padding: 5pt;
}

table{

	margin: auto;
}

.formLabel
{

	font-size: 1.5em;
	margin-left: 10pt;
	margin-top: 15pt;

}

.formInput
{

	margin-left: 10pt;
	text-align: right;
}

textArea
{

	margin-top: 10pt;

}
.inputSection
{

	margin-top: 15pt;
}

.statementTitle
{
	font-size: 2em;


}

@media screen and (max-width: 600px){
	textarea {
		width: 300px;
	}
}
