
@font-face { font-family: Glamor; src: url('../font/Chantelli-Antiqua/Chantelli_Antiqua.ttf'); } 


* {
  text-decoration: none;
}

html
{
	 
	
}

body {
  margin: 0;
  font-family: Glamor !important;

}

#main {
    overflow: auto;
    width: 100%;
}

#myCarousel
{
	
	width: 100%;
	height: 400pt;
	
	overflow: hidden !important;
}

#slideWrapper
{
	
	margin-top: -150pt;
}

.jumbotron
{
	background-color: #c0c0c0 !important;
}

/* this is for the login menu */


input[type="text"]
{
  width: 240px;
  height: 30px;
  border: 0px;
  outline: none;
  box-shadow: inset 0 0 10px #eee;
  border-radius: 5px;

}






footer {
  width: 100% ;
  padding: 10pt 10pt;
  margin-top: 10pt;
  background-color: #c0c0c0;
  overflow: hidden;
}



footer ul li {
  display: block;
  list-style: none;
  color: #fff;
  line-height: 20pt;
}

footer ul a {
  font-family: Catermaran;
  font-size: 16px;
  color: #fff;
  line-height: 20pt;
}

.footlogoImg{
	max-width:50%;
	max-height:50%;
	display: block;

}




