
#logoImg{
	max-width:5%;
	max-height:5%;
	width: 5%;
	height: 5%;
	display: block;
	margin-left:auto;
	margin-right:auto;
	
}

.topnav {

	max-width:100%;
  width: 100%;
  background-color: #eeeeee;
  line-height: 10pt;
  position: fixed;
  z-index: 99;
  text-align: center;
  top: 0;
  left: 0;
  margin: 0;
  

}

#stickyNav
{
	display: block;
	max-width: 100%;
	width: 100%;
	margin:auto;
	background-color: #dddddd11;
	

	padding: 5pt;
	transition: 0.5s;
	
}

#mobileNav
{
	display: none;
	max-width: 100%;
	width: 100%;
	margin:auto;
	background-color: red;
	

	padding: 5pt;
	transition: 0.5s;
	
}

.topnav a {
  text-decoration: none;
  font-size: 14px;
  color: #111111;
  padding: 0 10pt;

}

.topnav a:hover {
  color: black;
}



.searchDiv
{
	display: inline-block;

}

#spacer
{
	
    width: 100%;
height: 100pt;
}

@media screen and (max-width: 600px) {

	#stickyNav
	{
		display: none;
	height:100pt;
	}
	
	#mobileNav
	{
	display: block;

	}
  
  #spacer{
	  height: 90pt;
  }


}



